/* -- CSS RESET --*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}



#app {
  height: 100%;
}

/* -- DASHBOARD --*/
#dashboard {
  height: 100%;
}

/* -- CURRENT FOSTER -- */
#curr-foster {
  border: 0.5px solid rgb(197, 197, 197);
  padding: 5%;
  display: flex;
  flex-direction: column;
}

#add-foster-btn {
  color: pink;
  border: 1px solid pink;
  border-radius: 5px;
}

.fa-paw {
  color: pink;
  margin-top: 2%;
  margin-right: 5%;
}

.foster-name:hover {
  color: pink;
}

.foster-name {
  display: flex;
}

/* -- CALENDAR -- */
#calendar-app {
  border: 0.5px solid rgb(197, 197, 197);
  padding: 5%;
}

#datepicker-container {
  text-align: center;
  margin-bottom: 2%;
}

.datepicker {
  border-radius: 5px;
  border-width: 1px;
  padding: 0.5% 2.5%;
}

button.datepicker {
  background-color: rgb(237, 237, 237);
  color: coral;
  border-color: coral;
}