/* -- CSS RESET --*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* -- APP -- */
#app {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

#logout {
  left:100px
}

.component-container {
  border: 0.5px solid rgb(197, 197, 197);
  margin-bottom: 2%;
  height: 20vw;
  border-radius: 5px;
}

.navbar.navbar-light {
  padding: 2%;
}

button.pink-hover-btn.nav-btn {
  padding: 1% 5%;
  width: 7vw;
}
button.pink-hover-btn {
  border-radius: 5px;
  border-width: 1px;
  padding: 0.5% 2.5%;
  background-color: lightpink;
  color: white;
  border-color: coral;
}

button.pink-hover-btn:hover {
  background-color: white !important;
  color: lightpink !important;
  border-color: lightpink !important;
}

/* -- DASHBOARD -- */
#dashboard {
  height: 100%;
}


/* -- CURRENT FOSTER -- */
#curr-foster {
  padding: 5%;
  display: flex;
  flex-direction: column;
}


.fa-paw {
  color: lightpink;
  margin-top: 2%;
  margin-right: 5%;
}

.foster-name:hover {
  color: lightpink;
}

.foster-name {
  display: flex;
}


/* -- CALENDAR -- */
#calendar-app {
  height: 20vw;
  padding: 2% 5%;
  text-align: center;
}

#datepicker-container {
  text-align: center;
  margin-bottom: 2%;
}


.rbc-event.rbc-event-allday {
  background-color: lightpink;
}

.rbc-event.rbc-event-allday.rbc-selected {
  background-color: pink;
  border-color: gray;
}

.rbc-event {
  background-color: lightpink !important;
}


/* -- FORM LIST -- */
#form-list {
  height: 22vw;
  padding: 0;
  overflow-y: auto;
  margin-bottom: 2%;
}

.form-name {
  margin-top: 2%;
  margin-bottom: 1%;
}

.accordion-button {
  height: 20/6vw;
}


/* -- DAILY LOG -- */
#daily-log {
  height: 22vw;
  margin-bottom: 2%;
  overflow-y: auto;
  padding: 1%;
}

#daily-log-header {
  text-align: center;
}